USERS_SERVER_PORT=8085

USERS_PG_USER=theorem
USERS_PG_PASSWORD=strongpassword
USERS_PG_DB=users

USERS_VALKEY_PASSWORD=strongpassword

USERS_ACCESS_TOKEN_TTL=15m
USERS_REFRESH_TOKEN_TTL=24h

USERS_JWT_SECRET=your-jwt-secret

USERS_SESSION_MAX_TTL=2160h
USERS_SESSION_INACTIVE_TTL=720h

USERS_HASH_COST=8